<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Release 构建也需要网络：后端 API + GitHub Release 查询 + APK 下载
         （debug 由 flutter 工具注入，main manifest 必须显式声明） -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 歌曲下载：写公共 Download/JoyTune 目录（Android 6~10 运行时授权，
         maxSdkVersion 29 屏蔽 Android 11+ 的 WRITE 声明；11+ 用 MANAGE_EXTERNAL_STORAGE） -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="29"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
    <!-- 自动更新：安装 APK 需要"安装未知应用"权限（Android 8+ 必须声明并授权，
         否则拉起系统安装器会被拒绝并提示"没有权限安装"） -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <application
        android:label="悦听"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
        <!-- APK 安装：FileProvider 把 downloads/updates 目录下的 APK 授权给系统安装器读取 -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.rh.joytune.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
        <!-- Android 11+ 包可见性：确保系统能解析并响应"安装 APK"隐式 Intent（防 ActivityNotFoundException） -->
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:mimeType="application/vnd.android.package-archive"/>
        </intent>
    </queries>
</manifest>
